[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==0.34.0"
redis = ">=2.10,<2.11"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
